@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Archivo&display=swap");

:root {
	--lt-green: #c5edac;
	--lt-green-2: #91C16C;
	--dr-green: #b1d59b;
	--orange-1: #ffb833;
	--lt-yellow: #ffd599;
	--violet-1: #493548;

	/* for footer, header, back2top, nav-links, */
	--acc-clr-1: #c5edac;
	--acc-clr-2: #ffb833;
	
	
	--comm-bg: #91C16C;
	--body-bg: #e2f6d6;
	--body-clr: black;
	--hdr-bg: #91C16C;
	--hdr-clr: black;
	--nav-link-brd-clr: rgba(0, 0, 0, 0.4);
	--nav-opn-bg: rgba(226, 246, 214, 0.9);
	--nav-opn-clr: black;
	--nav-link-hvr-bg-2: #91C16C;
	--mn-hvr-bg: rgba(0, 0, 0, 0.1);
	--cta-hvr: brightness(1.06);
	--cta-fcs-clr: #cc9329;
	--sec-h-bg: #91C16C;
	--prj-tl-ol-clr: rgba(22, 22, 22, 0.6);
	--pht-brd-clr: rgba(0, 0, 0, 0.08);
	--ftr-clr: #222;

	/********/
	--dur: 120ms;
	--nor: rgb(80, 120, 235);
	--fb: #3b5998;
	--tw: #1da1f2;
	--li: #0077b5;
	--gh: #4078c0;
	--em: #34a853;
}

/********************************************************/

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	width: 100vw;
	color: var(--body-clr);
	background: var(--body-bg);
	font-family: "Archivo", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5em;
	/* background: chartreuse; */
}
body.menu-open {
	position: fixed;
}
.flex-cc {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.col {
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: var(--nor);
}
button {
	cursor: pointer;
}
a:hover,
a:focus,
button:hover,
button:focus {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	line-height: initial;
}

header,
footer {
	padding: 0 10vw;
}
section {
	margin: 20px 10vw;
	padding: 10px 0;
	/*border: 1px solid #ddd;
	border-radius: 4px;*/
}
section:first-child {
	margin-top: 0;
}

/********************************************************/

header.flex-cc {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 40px;
	color: black;
	background: var(--lt-green-2);
	justify-content: space-between;
}

#logo_a {
	margin: 0;
	color: black;
}
#logo_a:hover,
#logo_a:focus {
	filter: brightness(1.2);
}
#logo_a h1 {
	font-weight: 700;
}

#nav_ul {
	padding: 0;
	flex: 2 1 auto;
	justify-content: flex-start;
}
#nav_ul li {
	margin: 0;
	padding: 0 4px;
	justify-content: center;
}
#nav_ul #switchWrap {
	padding: 0 8px;
}

#nav_ul a {
	padding: 6px 8px;
	color: var(--gray-violet);
	border: 3px solid transparent;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 700;
	flex: 2 1 auto;
	justify-content: center;
}
#nav_ul a:hover {
	background: rgba(0, 0, 0, 0.18);
}
#nav_ul a:focus {
	border-color: rgba(0, 0, 0, 0.4);
}
#nav_ul a i {
	display: none;
}

/*
#signup_li {
	background: var(--cyan);
	border-radius: 22px;
}
#signup_li {
	transition: filter 100ms ease-in-out;
}
#signup_li:hover {
	filter: brightness(1.13);
}
#signup_li a {
	color: white;
	background: transparent;
	padding: 10px 22px;
	transition: background 100ms ease-in-out;
}
#signup_li a:hover {
	color: white;
	/* background: rgba(255,255,255,0.4); *
}
*/

/*********************** SWITCH *******************************/

.switch {
	position: relative;
	width: 60px;
	height: 30px;
	border-radius: 33px;
	align-self: center;
}
#switchInput {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	--dur: 200ms;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background: #555;
	/*
	background: linear-gradient(
		90deg,
		hsl(230, 22%, 88%) 0%,
		hsl(230, 22%, 88%) 100%
	);*/
	transition: background var(--dur);
}
.slider:before {
	position: absolute;
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 3px;
	border-radius: 50%;
	color: var(--acc-clr-2);
	transition: var(--dur);

	content: "\f185";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 18px;

	display: flex;
	justify-content: center;
	align-items: center;
}
/*
#switchInput:checked + .slider {
	background: #ccc;
	/*
	background: linear-gradient(
		90deg,
		hsl(210, 78%, 56%) 0%,
		hsl(146, 68%, 55%) 100%
	);
}
*/
#switchInput:checked + .slider:before {
	content: "\f186";
	color: #eee;
	background: #555;
	transform: translateX(30px);
}

/******************************************************/

#menu {
	display: none;
	cursor: pointer;
	padding: 0;
	height: 40px;
	border: 0;
	border-radius: 3px;
	background: transparent;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
#menu:hover,
#menu:focus {
	background: rgba(0, 0, 0, 0.1);
	outline: none;
}
#menu svg {
	background: transparent;
}
#menu svg g {
	fill: black;
}
#menu svg g rect {
	transition: transform 100ms ease-in-out;
	transform-origin: 50% 50%;
}
/* #menu svg g rect{
} */
#menu.open g #rect1 {
	transform: translateX(-14px) translateY(14px) rotate(45deg);
}
#menu.open g #rect2 {
	transform: translateX(-100px);
	height: 0;
}
#menu.open g #rect3 {
	transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}

/**********************************************/
/*
section * {
	background: rgba(0, 0, 0, 0.1);
}
*/
section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section ul {
	margin: 0;
}
section ul {
	padding: 0;
	padding-left: 20px;
}

section:not(#landing) > h1 i {
	margin-right: 8px;
}
section:not(#landing) > h1 {
	color: black;
	background: var(--sec-h-bg);
	margin-bottom: 8px;
	padding: 3px 12px;
	border-radius: 2px;
}

.wrapper {
	padding: 10px 16px;
}
.wrapper h4 {
	margin: 10px 0 5px 0;
}
.wrapper h4:first-child {
	margin-top: 0;
}

/********************************************************/

#landing {
	height: calc(100vh - 120px);
	border: none;
	justify-content: center;
	align-items: center;
}
#landing > * {
	text-align: center;
}
#land-head {
	font-size: 72px;
	font-weight: 700;
}
#typingWrap {
	font-size: 32px;
}
#typing {
	margin-left: 5px;
}
#cursor {
	width: 3px;
	height: 32px;
	margin: 0;
	margin-left: 4px;
	animation: blink 500ms infinite alternate;
}
#cursor rect {
	fill: var(--body-clr);
}
@keyframes blink {
	0%,
	50% {
		opacity: 0;
	}
	51%,
	100% {
		opacity: 1;
	}
}

#cta-link {
	position: relative;
	color: black;
	background: var(--acc-clr-2);
	border: 4px solid var(--acc-clr-2);
	padding: 10px 22px 10px 20px;
	margin-top: 20px;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 600;
	transition: filter var(--dur) ease-in;
}
#cta-link i {
	margin-left: 6px;
	transition: transform var(--dur) ease-in;
}
#cta-link:hover,
#cta-link:focus {
	outline: none;
}
#cta-link:hover {
	filter: var(--cta-hvr);
}
#cta-link:focus {
	border-color: var(--cta-fcs-clr);
}
#cta-link:active {
	background: var(--cta-fcs-clr);
}
#cta-link:hover i {
	transform: translatex(6px);
}

/********************************************************/

/********************************************************/

#project-grid {
	padding: 10px 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-gap: 20px;
}
.project-tile {
	position: relative;
	font-size: 16px;
	text-align: center;
	color: var(--body-clr);
	background: var(--body-bg);
	border: 2px solid var(--body-clr);
	border-radius: 5px;
	/*
	box-shadow: 2px 2px 3px -1px #222;*/
	overflow: hidden;
	transition: transform 100ms ease-in-out, color 100ms ease-out;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.project-tile:hover {
	transform: scale(1.03);
}
.project-tile:focus {
	outline: 4px solid var(--prj-tl-ol-clr);
	text-decoration: underline;
}
.project-img {
	width: 100%;
	height: auto;
	border-bottom: 2px solid var(--body-clr);
}
.img-caption {
	padding: 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2 1 auto;
}
#view-all {
	padding: 8px 12px;
	margin-top: 20px;
	color: black;
	background: var(--sec-h-bg);
	border: 4px solid transparent;
	border-radius: 5px;
	font-weight: 600;
	transition: transform 120ms ease-out, color 120ms ease-out;

	align-self: center;
}
#view-all:hover,
#view-all:focus {
	outline: none;
}
#view-all:hover {
	transform: scale(1.03);
}
#view-all:focus {
	border-color: rgba(0, 0, 0, 0.3);
}
#view-all i {
	transition: margin-left 120ms ease-out;
}
#view-all:hover i {
	margin-left: 3px;
}

/********************************************************/

#skills a:focus{
	text-decoration: underline;
}

/********************************************************/

img#my_photo {
	max-height: 360px;
	width: auto;
	margin-right: 20px;
	border: 1px solid var(--pht-brd-clr);
	border-radius: 3px;
}

/********************************************************/

footer.flex-cc {
	color: var(--ftr-clr);
	background: var(--comm-bg);
	border-top: 6px solid var(--ftr-clr);
	padding: 80px 10vw;
	margin-top: 40px;
	justify-content: stretch;
	align-items: flex-start;
}
footer div {
	margin-top: -112px;
}
footer div > * {
	margin: 0;
}
footer div h4 {
	width: auto;
	font-size: 24px;
	margin-bottom: 20px;
	padding: 4px 16px;
	background: var(--comm-bg);
	border: 6px solid var(--ftr-clr);
	border-radius: 50px;
	align-self: start;
}
footer div h4 i {
	margin-right: 8px;
}

footer nav {
	justify-content: center;
	align-items: center;
}
footer nav p {
	margin: 0;
	margin-right: 20px;
}
footer nav ul li {
	margin: 0 3px;
}
footer nav ul li a {
	color: var(--ftr-clr);
	height: 40px;
	width: 40px;
	font-size: 30px;
	border: 3px solid transparent;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* footer nav a{
    transition: color 100ms ease-in-out;
} */
footer nav a:hover {
	background: white;
}
footer nav a:focus {
	border-color: var(--nor);
}
#fb a:hover {
	color: var(--fb);
}
#tw a:hover {
	color: var(--tw);
}
#li a:hover {
	color: var(--li);
}
#gh a:hover {
	color: var(--gh);
}
#em a:hover {
	color: var(--em);
}

/*
footer #social_nav img:hover {
	filter: sepia(86%) saturate(1564%) hue-rotate(126deg) brightness(86%)
		contrast(88%);
}
*/

/********************************************************/
/* Media Queries */

@media (max-width: 1100px) {
	#land-head {
		font-size: 66px;
	}
	#typingWrap {
		font-size: 28px;
	}

	#project-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.project-tile {
		font-size: 16px;
	}

	footer.flex-cc {
		flex-flow: column nowrap;
	}
	footer nav.flex-cc {
		align-items: center;
	}
	footer nav ul.flex-cc {
		align-items: center;
	}
}

/********************************************************/

@media (max-width: 900px) {
	header,
	footer {
		padding: 0 max(40px, 10vw);
	}

	header #logo_a {
		margin-right: auto;
	}
	#logo_a h1 {
		margin: 0;
	}

	#nav_el {
		--w: 100vw;
		--h: 100vh;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: var(--w);
		height: var(--h);
		background: var(--nav-opn-bg);
		transform: translateY(calc(-1 * var(--h)));
		transition: transform 120ms ease-in-out, visibility 120ms ease-in-out;
		z-index: 1;
	}
	#nav_el.open {
		visibility: visible;
		transform: translateY(0);
	}
	#nav_el ul {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: stretch;
	}
	#nav_el ul li {
		padding: 0;
		margin: 0;
	}
	#nav_ul #switchWrap {
		padding: min(2vh, 20px);
	}
	#nav_el ul li a {
		color: var(--nav-opn-clr);
		padding: min(4vh, 30px);
		font-size: 24px;
		justify-content: center;
		transition: background 100ms ease-in-out;
	}
	#nav_el ul li a:hover {
		background: var(--nav-link-hvr-bg-2);
	}
	#nav_el ul li a:focus{
		border-color: var(--nav-link-brd-clr);
	}
	#nav_el ul li a i {
		display: inline;
		margin-right: 10px;
	}
	#nav_el.open + #menu svg g {
		fill: var(--nav-opn-clr);
	}
	#nav_el.open + #menu:hover,
	#nav_el.open + #menu:focus {
		background: var(--mn-hvr-bg);
	}
	/*
	#signup_li {
		border-radius: 0;
	}
	*/
	#menu {
		display: flex;
	}

	#land-head {
		font-size: 56px;
	}
	#typingWrap {
		font-size: 24px;
	}
	
	footer.flex-cc{
		align-items: center;
	}
	footer div h4{
		align-self: center;
	}
}

/********************************************************/

@media (max-width: 720px) {
	body {
		font-size: 16px;
	}

	#project-grid {
		grid-template-columns: 1fr;
	}

	footer div h4{
		margin-bottom: 0;
	}
	footer nav {
		flex-flow: column nowrap;
	}
	footer nav p {
		margin: 16px 0 8px 0;
	}
	#back2Top button {
		width: 36px;
		height: 36px;
		font-size: 16px;
	}
}

/*************************/

@media (max-width: 640px) {
	#about .wrapper {
		flex-flow: column nowrap;
		align-items: stretch;
	}
	img#my_photo {
		margin: 0;
		margin-bottom: 10px;
		align-self: center;
	}
}
